# Data Scrubbing and Cleaning 

* Cast columns to appropriate data type
* Identify and deal with null values 
* Remove any unnecessary columns

Load Dataset and view data types and see if they correspond to the column descriptions.

In [1]:
import pandas as pd

data = pd.read_csv("data/data.csv")

In [2]:
for col in data:
    print(data[col].value_counts())

1699    1
1116    1
1120    1
1122    1
1124    1
       ..
573     1
575     1
577     1
579     1
2       1
Name: ID, Length: 1700, dtype: int64
63    90
65    81
62    79
64    68
70    66
      ..
27     2
92     2
36     2
30     1
26     1
Name: AGE, Length: 63, dtype: int64
1    1065
0     635
Name: SEX, dtype: int64
0    1060
1     410
2     147
3      79
?       4
Name: INF_ANAM, dtype: int64
0    661
6    332
1    146
2    137
5    125
3    117
?    106
4     76
Name: STENOK_AN, dtype: int64
2    854
0    661
?     73
3     54
1     47
4     11
Name: FK_STENOK, dtype: int64
2    683
1    548
0    418
?     51
Name: IBS_POST, dtype: int64
?    1628
0      45
1      27
Name: IBS_NASL, dtype: int64
2    880
0    605
3    195
1     11
?      9
Name: GB, dtype: int64
0    1635
1      57
?       8
Name: SIM_GIPERT, dtype: int64
0    551
7    432
?    248
6    165
1     93
5     73
3     58
2     58
4     22
Name: DLIT_AG, dtype: int64
0    1468
1     103
?      54
3      29
2      27
4      19
Name: ZSN_A, dtype: int64
0    1637
1      42
?      21
Name: nr_11, dtype: int64
0    1675
?      21
1       4
Name: nr_01, dtype: int64
0    1660
?      21
1      19
Name: nr_02, dtype: int64
0    1644
1      35
?      21
Name: nr_03, dtype: int64
0    1650
1      29
?      21
Name: nr_04, dtype: int64
0    1678
?      21
1       1
Name: nr_07, dtype: int64
0    1675
?      21
1       4
Name: nr_08, dtype: int64
0    1680
?      18
1       2
Name: np_01, dtype: int64
0    1679
?      18
1       3
Name: np_04, dtype: int64
0    1671
?      18
1      11
Name: np_05, dtype: int64
0    1681
?      18
1       1
Name: np_07, dtype: int64
0    1676
?      18
1       6
Name: np_08, dtype: int64
0    1680
?      18
1       2
Name: np_09, dtype: int64
0    1679
?      18
1       3
Name: np_10, dtype: int64
0    1461
1     228
?      11
Name: endocr_01, dtype: int64
0    1648
1      42
?      10
Name: endocr_02, dtype: int64
0    1677
1      13
?      10
Name: endocr_03, dtype: int64
0    1559
1     134
?       7
Name: zab_leg_01, dtype: int64
0    1572
1     121
?       7
Name: zab_leg_02, dtype: int64
0    1656
1      37
?       7
Name: zab_leg_03, dtype: int64
0    1684
1       9
?       7
Name: zab_leg_04, dtype: int64
0    1671
1      22
?       7
Name: zab_leg_06, dtype: int64
?      1076
140      91
130      77
160      73
120      65
110      46
150      44
170      30
180      29
100      26
90       24
80       24
190      13
200      12
210      10
60        8
220       8
70        6
145       6
115       6
125       6
50        3
40        3
105       3
155       3
240       2
260       2
135       1
230       1
0         1
185       1
Name: S_AD_KBRIG, dtype: int64
?      1076
80      167
90      154
100      86
70       78
60       59
120      16
110      15
40       11
0         7
50        6
85        6
30        5
20        4
75        2
65        2
140       1
95        1
160       1
10        1
190       1
45        1
Name: D_AD_KBRIG, dtype: int64
?      267
130    242
120    220
140    218
160    154
110    123
150     96
180     68
100     55
170     54
90      33
200     28
190     25
80      24
60      21
70      12
0        8
220      8
115      7
210      6
40       4
105      4
125      4
145      3
50       3
135      3
95       2
240      2
230      2
260      1
195      1
20       1
155      1
Name: S_AD_ORIT, dtype: int64
80     502
90     302
?      267
100    201
70     166
60      84
110     59
40      28
120     23
0       18
50      16
130      8
95       6
140      4
20       4
85       4
75       3
105      2
30       1
190      1
65       1
Name: D_AD_ORIT, dtype: int64
0    1578
1     110
?      12
Name: O_L_POST, dtype: int64
0    1639
1      46
?      15
Name: K_SH_POST, dtype: int64
0    1572
1     114
?      14
Name: MP_TP_POST, dtype: int64
0    1680
?      12
1       8
Name: SVT_POST, dtype: int64
0    1680
?      12
1       8
Name: GT_POST, dtype: int64
0    1673
1      15
?      12
Name: FIB_G_POST, dtype: int64
0    660
4    492
1    392
?     83
2     39
3     34
Name: ant_im, dtype: int64
1    838
0    576
2     97
?     80
3     72
4     37
Name: lat_im, dtype: int64
0    937
1    195
2    191
4    176
3    121
?     80
Name: inf_im, dtype: int64
0    1370
1     157
?      72
2      52
3      35
4      14
Name: post_im, dtype: int64
0    1649
1      50
?       1
Name: IM_PG_P, dtype: int64
1    1029
0     519
?     152
Name: ritm_ecg_p_01, dtype: int64
0    1453
?     152
1      95
Name: ritm_ecg_p_02, dtype: int64
0    1525
?     152
1      23
Name: ritm_ecg_p_04, dtype: int64
0    1547
?     152
1       1
Name: ritm_ecg_p_06, dtype: int64
0    1195
1     353
?     152
Name: ritm_ecg_p_07, dtype: int64
0    1502
?     152
1      46
Name: ritm_ecg_p_08, dtype: int64
0    1527
?     115
1      58
Name: n_r_ecg_p_01, dtype: int64
0    1577
?     115
1       8
Name: n_r_ecg_p_02, dtype: int64
0    1381
1     204
?     115
Name: n_r_ecg_p_03, dtype: int64
0    1516
?     115
1      69
Name: n_r_ecg_p_04, dtype: int64
0    1515
?     115
1      70
Name: n_r_ecg_p_05, dtype: int64
0    1553
?     115
1      32
Name: n_r_ecg_p_06, dtype: int64
0    1581
?     115
1       4
Name: n_r_ecg_p_08, dtype: int64
0    1583
?     115
1       2
Name: n_r_ecg_p_09, dtype: int64
0    1583
?     115
1       2
Name: n_r_ecg_p_10, dtype: int64
0    1583
?     115
1       2
Name: n_p_ecg_p_01, dtype: int64
0    1553
?     115
1      32
Name: n_p_ecg_p_03, dtype: int64
0    1580
?     115
1       5
Name: n_p_ecg_p_04, dtype: int64
0    1583
?     115
1       2
Name: n_p_ecg_p_05, dtype: int64
0    1558
?     115
1      27
Name: n_p_ecg_p_06, dtype: int64
0    1483
?     115
1     102
Name: n_p_ecg_p_07, dtype: int64
0    1578
?     115
1       7
Name: n_p_ecg_p_08, dtype: int64
0    1575
?     115
1      10
Name: n_p_ecg_p_09, dtype: int64
0    1551
?     115
1      34
Name: n_p_ecg_p_10, dtype: int64
0    1557
?     115
1      28
Name: n_p_ecg_p_11, dtype: int64
0    1507
?     115
1      78
Name: n_p_ecg_p_12, dtype: int64
0    1677
1      13
?      10
Name: fibr_ter_01, dtype: int64
0    1674
1      16
?      10
Name: fibr_ter_02, dtype: int64
0    1622
1      68
?      10
Name: fibr_ter_03, dtype: int64
0    1686
?      10
1       4
Name: fibr_ter_05, dtype: int64
0    1681
?      10
1       9
Name: fibr_ter_06, dtype: int64
0    1684
?      10
1       6
Name: fibr_ter_07, dtype: int64
0    1688
?      10
1       2
Name: fibr_ter_08, dtype: int64
0    797
1    534
?    369
Name: GIPO_K, dtype: int64
?      371
4      101
3.8     91
4.2     87
3.9     79
3.5     71
4.5     62
4.1     62
4.3     60
3.6     58
4.7     57
3.7     57
4.4     55
4.6     52
4.8     43
4.9     39
3.4     38
5       36
3.3     34
3.2     30
3.1     30
3       23
5.1     23
5.5     16
5.3     15
5.2     14
5.7     14
5.4     10
6        9
5.6      8
2.9      7
6.1      6
2.8      4
6.2      4
5.9      4
2.3      4
2.7      4
2.4      3
6.7      2
6.9      2
5.8      2
6.4      2
6.8      2
7.7      1
7.6      1
7.8      1
2.5      1
8.2      1
8        1
7.3      1
6.3      1
7.2      1
Name: K_BLOOD, dtype: int64
0    1295
?     375
1      30
Name: GIPER_NA, dtype: int64
?      375
136    214
140    186
130    125
133     81
138     80
143     63
146     61
134     57
132     56
139     48
142     37
141     36
137     30
144     27
127     24
135     23
128     21
150     18
123     15
131     14
153     14
125     13
129     11
120     11
126     10
124     10
117      6
122      5
121      5
145      5
156      4
159      4
149      2
148      2
154      2
118      1
151      1
147      1
169      1
163      1
Name: NA_BLOOD, dtype: int64
?       284
0.15    230
0.3     210
0.45    178
0.23    144
       ...
2.56      1
0.36      1
0.67      1
0.7       1
1.57      1
Name: ALT_BLOOD, Length: 70, dtype: int64
?       285
0.15    271
0.22    169
0.07    149
0.3     145
0.11    113
0.18    108
0.37     81
0.45     62
0.26     55
0.52     33
0.33     32
0.75     26
0.6      20
0.41     17
0.04     17
0.67     10
0.23     10
0.48      8
0.56      8
0.9       7
0.4       5
0.14      5
0.44      5
0.36      4
0.08      4
1.34      3
0.96      3
0.86      3
1.04      3
0.2       3
0.38      3
1.05      2
0.63      2
1.12      2
0.1       2
0.7       2
0.82      2
1.13      1
0.71      1
0.66      1
0.46      1
0.97      1
0.8       1
0.57      1
0.28      1
1.2       1
1.75      1
0.98      1
0.12      1
0.13      1
1.36      1
0.74      1
0.5       1
1.08      1
0.27      1
0.68      1
2.15      1
0.49      1
Name: AST_BLOOD, dtype: int64
?      1696
1.4       1
1.2       1
3.6       1
1.8       1
Name: KFK_BLOOD, dtype: int64
?       125
6.9      32
8        30
7        30
7.4      29
       ...
21.7      1
17.5      1
20.2      1
3.4       1
3.5       1
Name: L_BLOOD, Length: 175, dtype: int64
?      203
5      134
3      126
10     104
4       98
7       91
8       83
6       79
12      64
15      63
9       52
20      52
2       42
11      42
14      37
25      36
13      30
17      29
16      25
22      24
18      24
23      21
30      21
21      20
19      19
27      15
28      14
32      14
35      14
24      13
26      12
40      10
34      10
42       9
45       7
38       7
33       6
50       5
37       5
31       5
41       4
48       3
36       3
39       3
46       2
53       2
51       2
44       2
29       2
57       2
55       2
60       1
65       1
68       1
1        1
61       1
59       1
47       1
140      1
Name: ROE, dtype: int64
2    360
9    269
1    198
3    175
6    151
7    141
?    126
8    101
5     92
4     87
Name: TIME_B_S, dtype: int64
0    1282
1     298
2      78
3      26
?      16
Name: R_AB_1_n, dtype: int64
0    1414
1     133
?     108
2      44
3       1
Name: R_AB_2_n, dtype: int64
0    1469
?     128
1      86
2      15
3       2
Name: R_AB_3_n, dtype: int64
?    657
1    618
0    425
Name: NA_KB, dtype: int64
1    701
?    686
0    313
Name: NOT_NA_KB, dtype: int64
?    677
0    627
1    396
Name: LID_KB, dtype: int64
0    1496
1     195
?       9
Name: NITR_S, dtype: int64
0    1108
1     409
2     132
3      35
4      11
?       5
Name: NA_R_1_n, dtype: int64
0    1474
?     108
1      87
2      30
3       1
Name: NA_R_2_n, dtype: int64
0    1493
?     131
1      60
2      16
Name: NA_R_3_n, dtype: int64
0    1237
1     376
2      53
3      17
?      10
4       7
Name: NOT_NA_1_n, dtype: int64
0    1454
?     110
1      95
2      38
3       3
Name: NOT_NA_2_n, dtype: int64
0    1474
?     131
1      57
2      38
Name: NOT_NA_3_n, dtype: int64
0    1211
1     479
?      10
Name: LID_S_n, dtype: int64
0    1474
1     215
?      11
Name: B_BLOK_S_n, dtype: int64
1    1125
0     562
?      13
Name: ANT_CA_S_n, dtype: int64
1    1203
0     480
?      17
Name: GEPAR_S_n, dtype: int64
1    1252
0     431
?      17
Name: ASP_S_n, dtype: int64
0    1654
1      30
?      16
Name: TIKL_S_n, dtype: int64
0    1343
1     341
?      16
Name: TRENT_S_n, dtype: int64
0    1530
1     170
Name: FIBR_PREDS, dtype: int64
0    1680
1      20
Name: PREDS_TAH, dtype: int64
0    1658
1      42
Name: JELUD_TAH, dtype: int64
0    1629
1      71
Name: FIBR_JELUD, dtype: int64
0    1643
1      57
Name: A_V_BLOK, dtype: int64
0    1541
1     159
Name: OTEK_LANCRAZRIV, dtype: int64
0    1646
1      54
Name: DRESSLER, dtype: int64
0    1625
1      75
Name: ZSN, dtype: int64
0    1306
1     394
Name: REC_IM, dtype: int64
0    1541
1     159
Name: P_IM_STEN, dtype: int64
0    1552
1     148
Name: LET_IS, dtype: int64

# Cast Columns to Correct Data types

* SEX has no missing values and ranges from 0-1 
    * Nominal col, dtype=64 
    * Handling method is to remove rows with missing values
* INF_ANAM ranges from numbers 0-3 or Missing. Missing values are labeled '?' 4 missing values. 
    * Ordinal col, dtype=int64
    * Handling method is to remove rows with missing values
* STENOK_AN ranges from 0-6 it has 106 missing values labeled as '?'.   
    * Ordinal col, dtype=int64
    * Handling method is to remove rows with missing values
* FK_STENOK ranges from 0-4 but has 73 missing values labeled as '?'. 
    * Oridinal col, dtype=int64
    * Handling method is to remove rows with missing values
* IBS_POST ranges from 0-2 but has 51 missing values labeled as '?'. 
    * Ordinal col, dtype=int64
    * Handling method is to remove rows with missing values
* IBS_NASL ranges from 0-1, No, Yes, but has 9 missing values labeled as '?'. 
    * Nominal col, dtype=int64
    * Handling method is to remove rows with missing values
* GB ranges from 0-1, No, Yes, but has 1628 missing values labeled as '?'. 
    * Oridinal col, dtype=int64
    * Handling method is to remove rows with missing values
* SIM_GIPERT ranges from 0-1, No, Yes, but has 8 missing values labeled as '?'. 
    * Nominal col, dtype=int64 
    * Handling method is to remove rows with missing values
* DLIT_AG ranges from 0-7 but has 248 missing values labeled as '?'. 
    * Ordinal col, dtype=int64
    * Handling method is to remove rows with missing values 
* ZSN_A ranges from 0-4 but has 54 missing values labeled as '?'. 
    * Ordinal col, dtype=int64 
    * Handling method is to remove rows with missing values
* nr_11, , nr_01, nr_02, nr_03, nr_04, nr_07, nr_08 have ranges from 0-1, No, Yes, and all these columns have 21 missing values labeled as '?'. 
    * Nominal col
    * Handling method is to remove rows with missing values
* np_01, np_04, np_05, np_07, np_08, np_09, np_10 have ranges from 0-1, No, Yes, and all of these columns have 18 missig values labeled as '?'
    * Nominal col
    * Handling method is to remove rows with missing values
* endocr_01 has a range from 0-1, No, Yes, and has 11 missing values labeled as '?'
    * Nominal col, dtype=int64
    * Handling method is to remove rows with missing values
* endocr_02, endocr_03 have a range from 0-1, No, Yes, and have 10 missing values labeled as '?'.
    * Nominal col, dtype=int64
    * Handling method is to remove rows with missing values
* zab_leg_01, zab_leg_02, zab_leg_03, zab_leg_04, zab_leg_05, zab_leg_06, have a range from 0-1, 0=No, 1=Yes, and all have 7 missing values labeld as '?'. 
    * Nominal col, dtype=int64
    * Handling method is to remove rows with missing values
* S_AD_KBRIG has systolic blood pressures from the Emergency Cardiology Team  and has 1076 missing values labeled as '?' 
    * dtype=int64
    * Handling method is to remove rows with missing values
* D_AD_KBRIG diastolic blood pressure from the Emergency Cardiology Team  and has 267 missing values labeled as '?'. 
    * dtype=int64
    * Handling method is to remove rows with missing values
* S_AD_ORIT systolic blood pressure from the intensive care unit and has 267 missing values labeled as '?'.
    * dtype=int64
    * Handling method is to remove rows with missing values
* D_AD_ORIT diastolic blood pressure from the intensive care unit and has 267 missing values labeled as '?'.
    * dtype=int64
    * Handling method is to remove rows with missing values
* O_L_POST, Pulmonary edema at the time of admission to intensive care unit. Has 12 missing values labeled as '?'. 0 = No, 1 = Yes
    * Nominal col 
    * Handling method is to remove rows with missing 


There rest of the column are all approiate data types they all just have missing values and are either nominal or original. Since this is the case we can't simply impute a value since ranking can matter for some of these columns. 

According to the UCI repository there all multiple ways for multiclass predictions: 

1. the time of admission to hospital: all input columns (2-112) except 93, 94, 95, 100, 101, 102, 103, 104, 105 can be used for prediction;

2. the end of the first day (24 hours after admission to the hospital): all input columns (2-112) except 94, 95, 101, 102, 104, 105 can be used for prediction;

3.	the end of the second day (48 hours after admission to the hospital) all input columns (2-112) except 95, 102, 105 can be used for prediction;

4.	the end of the third day (72 hours after admission to the hospital) all input columns (2-112) can be used for prediction.

There is no need for casting columns to appropriate types since there all already in appropriate dtypes.

# Handle Missing Values and Neccesary Columns

We know that we have a lot of missing values in every column. We also know that we can not impute values in these columns since there categorical values that contain knowledge for that specific subject. We can't simply subsitute the missing values as that would impact our analysis and prediction models. The approach should be to drop the missing values row wise

Before we remove any columns we should consider the approach to the problem. The [UCI Machine Learning Repo](https://archive.ics.uci.edu/dataset/579/myocardial+infarction+complications) reccommends the following prediction problems to solve 

There are four possible time moments for complication prediction: on base of the information known at
1.	The time of admission to hospital: all input columns (2-112) except 93, 94, 95, 100, 101, 102, 103, 104, 105 can be used for prediction;
2.	The end of the first day (24 hours after admission to the hospital): all input columns (2-112) except 94, 95, 101, 102, 104, 105 can be used for prediction;
3.	The end of the second day (48 hours after admission to the hospital) all input columns (2-112) except 95, 102, 105 can be used for prediction;
4.	The end of the third day (72 hours after admission to the hospital) all input columns (2-112) can be used for prediction.

We can develop different datasets to approach each problem or we can attack a single problem. For sake of simplicity and time I will only be attempting one problem which is number 1. The main reason being I feel its a good area to start because generally people who have heart attacks have chest pain, shortness of and other symptoms a few days or weeks before the attack occurs. Most people would only be interested to enter a hospital when its very bad or too late and end up in the Emergency Room. This can be 1 or 2 days before an attack occurs and they just barely made it to the hospital to have personell ready for action.

[Source](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6307335/)

Handle the reccomended columns

In [3]:
subset = [
    "R_AB_1_n",
    "R_AB_2_n", 
    "R_AB_3_n", 
    "NA_R_1_n", 
    "NA_R_2_n", 
    "NA_R_3_n", 
    "NOT_NA_1_n", 
    "NOT_NA_2_n", 
    "NOT_NA_3_n"
]
data.drop(columns=subset, inplace=True)

## Handle null values

In [4]:
# Check null values
null = data.isnull().sum() > 0
null

ID           False
AGE          False
SEX          False
INF_ANAM     False
STENOK_AN    False
             ...
DRESSLER     False
ZSN          False
REC_IM       False
P_IM_STEN    False
LET_IS       False
Length: 114, dtype: bool

There are no null values in the dataset. In reality the '?' values are our missing values. Lets see how many missing values we have in the dataset

In [5]:
# Replace '?' with NaN
data.replace('?', pd.NA, inplace=True)

a = data.isnull().sum()

# Calculate the percentage of missing values in each column
missing_percentage = (data.isnull().sum() / len(data)) * 100

# Select columns with missing values greater than 30%
columns_with_high_missing = missing_percentage[missing_percentage > 30]

# Print the columns with more than 30% missing values
print(columns_with_high_missing)

IBS_NASL      95.764706
S_AD_KBRIG    63.294118
D_AD_KBRIG    63.294118
KFK_BLOOD     99.764706
NA_KB         38.647059
NOT_NA_KB     40.352941
LID_KB        39.823529
dtype: float64

Its best to drop these columns entirely since they would mean removing about 500 rows or more from our dataset. Its worth droping these features if its means saving the rest of the columns:
* IBS_NASL
    * Identifies hereditary burden. 
* S_AD_KBRIG
    * Emergency room Systolic Pressure. It makes sense that most of these values are missing. It is a high pressure environment so logging every detail is probably not going to happen. 
* D_AD_KBRIG
    * Emergency room Diastolic Pressure. It makes sense that most of these values are missing. It is a high pressure environment so logging every detail is probably not going to happen. 
* KFK_BLOOD
    * Serum CPK contentm Creatine Phosphokinase. Group of enzymes found in the brain, heart, and skeletal muscle. Damage to these tissues can cause CPK to be released into the serum, which raises serum levels. 
    * This column is missing pretty much every subject.
* NA_KB 
    * Use of opioid drugs by the Emergency Cardiology Team.
    * Again its makes sense that this was failed to be logged in an emergency. Its a high pressure environment. 
* NOT_NA_KB
    * Use of NSAIDs by the Emergency Cardiology Team 
    * Again its makes sense that this was failed to be logged in an emergency. Its a high pressure environment.
* LID_KB
    * Use of lidocaine by the Emergency Cardiology Team. 
    * Again it makes sense that this was failed to be logged in an emergency. Its a high pressure environment.

In [6]:
# Drop rows containing NaN in the subset columns
subset = columns_with_high_missing
data.drop(columns=subset.index, inplace=True)

In [7]:
data.shape

(1700, 107)

Now lets take a look at the lower percentages in the columns

In [8]:
# Select columns with missing values between 10% and 30%
columns_with_medium_missing = missing_percentage[(missing_percentage > 10) & (missing_percentage <= 30)]

# Print the columns with missing values in the range of 10% to 30%
for col, percentage in columns_with_medium_missing.iteritems():
    print(f"{col}: {percentage:.2f}%")

DLIT_AG: 14.59%
S_AD_ORIT: 15.71%
D_AD_ORIT: 15.71%
GIPO_K: 21.71%
K_BLOOD: 21.82%
GIPER_NA: 22.06%
NA_BLOOD: 22.06%
ALT_BLOOD: 16.71%
AST_BLOOD: 16.76%
ROE: 11.94%

Highest Group:
* GIPO_K: 21.71%
* K_BLOOD: 21.82%
* GIPER_NA: 22.06%
* NA_BLOOD: 22.06%
    * The following columns are the highest in missing values. These values however are important. The estimation of sodium and potassium levels in acute Myocardial Infractions can help assess their prognosis according to a [journal article](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4290227/#:~:text=Hyponatremia%20and%20hypokalemia%20are%20indicators,was%20indicative%20of%20clinical%20improvement) published in PUBMED. 
    * That being said GIPO_K assesses Hypokalemia which is low potassium levels. GIPER_NA assesses high sodium levels in blood. We do not need the individual real time serum levels k_blood or na_bloos since we can account for them already.  
    * There is a huge ammount of data missing which can impact the regression. Normally I would not want to impute the data but because its about 20% of missing values thats about 350 rows. 
    * Since this data is nominal GIPO_K and GIPER_NA imputing the mode can still preserve the prevalance. 


Middle Group: 
* ALT_BLOOD: 16.71%
* AST_BLOOD: 16.76%
    * Alanine transaminase (ALT) and aspartate aminotransferase (AST) are referred to as liver transaminases. According to a [journal article](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4443194/) the results showed the serum levels of ALT and AST in Coronay Heart Disease (CHD) group were markedly higher than those in control group. Overall serum levels of ALT and AST could be used as independent predictors of CHD. There has been controversy of other studies where this was not the case and ALT and AST did not show as good predictors of CHD
    * Since this data is real time data I can not impute a value. It makes up about 15% of the data. It might be best to drop these columns since scientific research is still not showing confident results.

Lower Group: 
* DLIT_AG: 14.59%
    * Hypertension is still relevant for assesing coronary syndromes. This should stay. 
    * Impute the median so we still consider the ranking  
* S_AD_ORIT: 15.71%
    * Systolic blood pressure according to Emergency Cardiology Team
* D_AD_ORIT: 15.71%
    * Diastolic blood pressure according to Emergency Cardiology Team

    The issue with these values is that there related. DLIT_AG does account for BP since its an evaluation of the length of hypertension the person has had whether that be years or months. While S_AD and D_AD are real time values when they were assesed. Making use of S_AD and D_AD requires a professional evalution like a doctor saying its hypertension. Alone these columns aren't useful for a model unless they were interpreted which they were not. In that case we should keep DLIT_AG just so we account for Blood Pressure evaluation and drop the real time BP values (S_AD_ORIT, D_AD_ORIT).

* ROE: 11.94%
    * ESR (Erythrocyte sedimentation rate) 
    * According to a [journal article](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3333472/) Erythrocyte sedimentation rate may be a useful additional diagnostic criterion for coronary heart disease
    * Since this is a real time value I can not impute values. Keeping this column can mean sacrificing 200 rows of insight

Impute the data

In [9]:
# Replace missing values in nominal columns with the mode
nominal_columns = ["GIPO_K", "GIPER_NA"]
data[nominal_columns] = data[nominal_columns].fillna(data.mode().iloc[0])

# Replace missing values in ordinal column with the median
ordinal_column = "DLIT_AG"
data[ordinal_column] = data[ordinal_column].fillna(data[ordinal_column].median())

Drop the rows with missing values for this low half of missing values

In [10]:
# Drop columns we decided to drop
subset = ["K_BLOOD", "NA_BLOOD", "S_AD_ORIT","D_AD_ORIT"]
data.drop(columns=subset, inplace=True)

In [11]:
data.shape

(1700, 103)

Lets take a look at the very low percentage values below 10 percent of missing values

In [215]:
# Select columns with missing values between 10% and 30%
columns_with_low_missing = missing_percentage[(missing_percentage < 10)]

# Sort the columns by missing value percentage in descending order
columns = columns_with_low_missing.sort_values(ascending=False)

# Print the columns with missing values in the range of 10% to 30%
for col, percentage in columns.iteritems():
    print(f"{col}: {percentage:.2f}%")

ritm_ecg_p_08: 8.94%
ritm_ecg_p_01: 8.94%
ritm_ecg_p_02: 8.94%
ritm_ecg_p_04: 8.94%
ritm_ecg_p_06: 8.94%
ritm_ecg_p_07: 8.94%
TIME_B_S: 7.41%
L_BLOOD: 7.35%
n_p_ecg_p_03: 6.76%
n_p_ecg_p_10: 6.76%
n_p_ecg_p_09: 6.76%
n_p_ecg_p_08: 6.76%
n_p_ecg_p_07: 6.76%
n_p_ecg_p_06: 6.76%
n_p_ecg_p_05: 6.76%
n_p_ecg_p_04: 6.76%
n_r_ecg_p_09: 6.76%
n_p_ecg_p_01: 6.76%
n_r_ecg_p_10: 6.76%
n_p_ecg_p_12: 6.76%
n_r_ecg_p_08: 6.76%
n_r_ecg_p_05: 6.76%
n_r_ecg_p_04: 6.76%
n_r_ecg_p_03: 6.76%
n_r_ecg_p_02: 6.76%
n_r_ecg_p_01: 6.76%
n_p_ecg_p_11: 6.76%
n_r_ecg_p_06: 6.76%
STENOK_AN: 6.24%
ant_im: 4.88%
inf_im: 4.71%
lat_im: 4.71%
FK_STENOK: 4.29%
post_im: 4.24%
ZSN_A: 3.18%
IBS_POST: 3.00%
nr_01: 1.24%
nr_03: 1.24%
nr_04: 1.24%
nr_07: 1.24%
nr_08: 1.24%
nr_11: 1.24%
nr_02: 1.24%
np_01: 1.06%
np_04: 1.06%
np_05: 1.06%
np_07: 1.06%
np_08: 1.06%
np_09: 1.06%
np_10: 1.06%
ASP_S_n: 1.00%
GEPAR_S_n: 1.00%
TRENT_S_n: 0.94%
TIKL_S_n: 0.94%
K_SH_POST: 0.88%
MP_TP_POST: 0.82%
ANT_CA_S_n: 0.76%
GT_POST: 0.71%
SVT_POST: 0.71%
O_L_POST: 0.71%
FIB_G_POST: 0.71%
B_BLOK_S_n: 0.65%
endocr_01: 0.65%
fibr_ter_02: 0.59%
endocr_02: 0.59%
fibr_ter_03: 0.59%
fibr_ter_05: 0.59%
fibr_ter_06: 0.59%
fibr_ter_07: 0.59%
LID_S_n: 0.59%
fibr_ter_08: 0.59%
fibr_ter_01: 0.59%
endocr_03: 0.59%
NITR_S: 0.53%
GB: 0.53%
SIM_GIPERT: 0.47%
AGE: 0.47%
zab_leg_01: 0.41%
zab_leg_02: 0.41%
zab_leg_03: 0.41%
zab_leg_04: 0.41%
zab_leg_06: 0.41%
INF_ANAM: 0.24%
IM_PG_P: 0.06%
SEX: 0.00%
LET_IS: 0.00%
P_IM_STEN: 0.00%
FIBR_PREDS: 0.00%
PREDS_TAH: 0.00%
JELUD_TAH: 0.00%
FIBR_JELUD: 0.00%
A_V_BLOK: 0.00%
OTEK_LANCRAZRIV: 0.00%
DRESSLER: 0.00%
ZSN: 0.00%
REC_IM: 0.00%
ID: 0.00%

The columns that are 'ritm' are specific to heart ECG diagnosis. However there seems to be a bias in these columns so imputing values can increase the bias but not by much since its aloready dominant and these columns are missing 150 rows which is a small fraction of the whole dataset and current size of the data we have which is about 950 rows with the current cleaning we have done. 
* Impute the mode for these nominal columns

Time elapsed from the beginning of the attack of CHD to the hospital (TIME_B_S): Ordinal column is the second largest column that is missing data from this subset. 
* We can impute the median 

White blood cell count (billions per liter) (L_BLOOD): Real time data. Since this is real time data we can't impute a value. This column however is important in detection of heart failure and possible outcomes of such an event. Increase occurs due to heart tissue damage. 
* Keep col and drop rows

All the columns that are 'n_p_ecg' are attributes of the ecg and are all nominal. * Impute the mode for these nominal columns

Exertional angina pectoris in the anamnesis (STENOK_AN): Ordinal col. 
Functional class (FC) of angina pectoris in the last year (FK_STENOK): Ordinal col. Classifies severity chest pain which can be heart disease. 
* Impute median

Presence of an anterior myocardial infarction (left ventricular) (ECG changes in leads V1: V4 ) (ant_im): Ordinal col. Presence of a lateral myocardial infarction (left ventricular) (ECG changes in leads V5: V6 , I, AVL) (lat_im): Ordinal col. Presence of an inferior myocardial infarction (left ventricular) (ECG changes in leads III, AVF, II). (inf_im): Ordinal. Presence of a posterior myocardial infarction (left ventricular) (ECG changes in V7: V9, reciprocity changes in leads V1 â€“ V3) (post_im): Ordinal col. Again have to do with ecg interpretation and are important to predictions. 
* impute median 

Presence of chronic Heart failure (HF) in the anamnesis (ZSN_A): Partially ordered attribute: there are two lines of severities: 0<1<2<4, 0<1<3<4. Ordinal col. The conclusion of which side of ventricular valve did the heart fail. Can be useful for classifying the severity of heart failure from required predictors. 
* Impute median

In [250]:
data.dropna(axis=0, inplace=True)

In [251]:
data.shape

(930, 103)